.animationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

/* The width and height of the star, funnel and the ELEVATE text */
.shapeWrapper {
  position: relative;
  width: 200px; 
  height: 200px;
}

/* First i constructed a normal square box, then using clip-path I am cutting the edges. */
.star {
  position: absolute;
  top: 0px; 
  left: 0px; 
  width: 25px; 
  height: 25px; 
  background: white;
  filter: drop-shadow(0 0 5px white);
  clip-path: polygon(50% 0%, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0% 50%, 35% 35%);
  transform-origin: center;
  animation: star-motion 4.0s forwards;
}

@keyframes star-motion {
    0% { transform: translate(-100px, 100px) scale(0.5) rotate(0deg) opacity(0); } /* Starting from the left screen, the star is small and invisible */
    10% { transform: translate(-30px, 70px) scale(1) rotate(180deg); opacity: 1; } /* Starting from the left screen, the star grows and starts its visibility */
    25% { transform: translate(87px, 2.5px) scale(2.8) rotate(360deg); } /* The star reaches the center of the screen, growing larger. THE CENTER IS DEFINED WITH A FORMULA -Target Left Edge = Wrapper Center - Star Half-Width AND THEN ADJUSTED.  */
    90% { transform: translate(87px, 2.5px) scale(2.8) rotate(360deg); } /* Holds still in the center like a logo until the ELEVATE text comes in */
    100% { transform: translate(87px, 2.5px) scale(2.8) rotate(360deg); opacity: 1; } /* lifting up the star - it should be visible until the end */
}