.logoContainer {
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wing {
  width: 120px;
  height: 120px;
  background: white;

  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 20'><path fill='white' d='M60 6 C64 22 78 36 94 40 C78 44 64 58 60 74 C56 58 42 44 26 40 C42 36 56 22 60 6 Z'/></svg>");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -35 120 120'><path fill='white' d='M60 6 C64 22 78 36 94 40 C78 44 64 58 60 74 C56 58 42 44 26 40 C42 36 56 22 60 6 Z'/></svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  animation: starIn 4s forwards;
  opacity: 0;
}

.elevateWing {
  width: 118px;
  height: 62px;

  background: transparent;
  border: 2px solid white;
  border-radius: 0;

  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 118 62'><path fill='white' d='M0 0 C38.94 0 77.88 0 118 0 C118 0.33 118 0.66 118 1 C117.105 1.10957 116.21078 1.21914 115.28906 1.33203 C96.88942 3.74478 83.43447 9.97137 71.03125 24.26953 C62.48091 35.57623 59.14201 48.11871 58 62 C57.67 62 57.34 62 57 62 C56.87625 60.88625 56.7525 59.7725 56.625 58.625 C54.76058 44.11456 50.25881 31.77175 40 21 C40 20.34 40 19.68 40 19 C39.42508 18.73832 38.85016 18.47664 38.25781 18.20703 C35.85399 16.92194 33.96847 15.42949 31.875 13.6875 C22.5265 6.32805 11.7915 2.28168 0 1 C0 0.67 0 0.34 0 0 Z'/></svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 118 62'><path fill='white' d='M0 0 C38.94 0 77.88 0 118 0 C118 0.33 118 0.66 118 1 C117.105 1.10957 116.21078 1.21914 115.28906 1.33203 C96.88942 3.74478 83.43447 9.97137 71.03125 24.26953 C62.48091 35.57623 59.14201 48.11871 58 62 C57.67 62 57.34 62 57 62 C56.87625 60.88625 56.7525 59.7725 56.625 58.625 C54.76058 44.11456 50.25881 31.77175 40 21 C40 20.34 40 19.68 40 19 C39.42508 18.73832 38.85016 18.47664 38.25781 18.20703 C35.85399 16.92194 33.96847 15.42949 31.875 13.6875 C22.5265 6.32805 11.7915 2.28168 0 1 C0 0.67 0 0.34 0 0 Z'/></svg>");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  transform-origin: center bottom;

  animation: curveUpFill 4s forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes starIn {
  0% {
    transform: translate(-70px, 10px) scale(0.5) rotate(0deg) opacity(0);
  }
  10% {
    transform: translate(-30px, 70px) scale(1) rotate(180deg);
    opacity: 1;
  }
  25% {
    transform: translate(0px, 2.5px) scale(1) rotate(360deg);
  }
  90% {
    transform: translate(0px, 2.5px) scale(1) rotate(360deg);
  }
  100% {
    transform: translate(0px, 2.5px) scale(1) rotate(360deg);
    opacity: 1;
  }
}

@keyframes curveUpFill {
  0% {
    transform: translateY(40px);
    opacity: 0;
    background: transparent;
    border-color: white;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    background: white;
    border-color: white;
  }
}

.logoText {
  color: #fff;
  font-size: 28px;
  letter-spacing: 6px;
  font-weight: 500;
}

.logoText span {
  display: inline-block;
  opacity: 0;
  transform: translateY(12px);
  animation: letterIn 4s ease-out forwards;
}

.logoText span:nth-child(1) {
  animation-delay: 0.8s;
}
.logoText span:nth-child(2) {
  animation-delay: 0.88s;
}
.logoText span:nth-child(3) {
  animation-delay: 0.96s;
}
.logoText span:nth-child(4) {
  animation-delay: 1.04s;
}
.logoText span:nth-child(5) {
  animation-delay: 1.12s;
}
.logoText span:nth-child(6) {
  animation-delay: 1.2s;
}
.logoText span:nth-child(7) {
  animation-delay: 1.28s;
}

@keyframes letterIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
